@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,400;0,500;0,600;0,700;1,700&display=swap');



body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items:  center;
    flex-direction: column;
    margin-top: 10%;
    
}



h1{
    color: #FAFF06;
    font-size: 4rem;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    letter-spacing: -0.1em;
}

p {
    font-weight: 500;
    font-size: 1rem;
    color: #FAFF06;
    display: inline;
    letter-spacing: 2px;
    
    
}

span {
    font-size: 2rem;
    display: inline;
    padding-left: 8px;
   
}






#game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 800px;
    height: 600px;
    background-image: url('assets/origbig\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #FAFF06;
    border-radius: 4px;
    box-shadow:12px 12px 36px 4px rgba(229, 255, 0, 0.284);
}

#game-container {
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: solid 5px #FAFF06 ;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    z-index: 1;
    border-radius: 4px;
    box-shadow:12px 12px 36px 4px rgba(229, 255, 0, 0.284);

}

#game-screen {
    display: none;
    align-content: center;
    overflow: hidden;
    position: relative;
    background-image: url('assets/gamefield.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 600px;
    border: 5px solid #FAFF06;
    border-radius: 4px;
    box-shadow:12px 12px 36px 4px rgba(229, 255, 0, 0.284);
}

#game-end {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 800px;
    height: 600px;
    background-image: url('assets/gameover.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #FAFF06;
    border-radius: 4px;
    box-shadow:12px 12px 36px 4px rgba(229, 255, 0, 0.284);
}


#game-win {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 800px;
    height: 600px;
    background-image: url('assets/win.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #FAFF06;
    border-radius: 4px;
    box-shadow:12px 12px 36px 4px rgba(229, 255, 0, 0.284);
}


#game-intro p {
    font-size: 18px;
    
}

body button {

    margin-top: -40px;
    width: 230px;
    padding: 8px;
    border-radius: 4px;
    background-color: black;
    font-size: 16px;
    border: solid 2px #FAFF06;
    color:#FAFF06;
    font-weight: 600;
    letter-spacing: -0.5px;
    box-shadow:4px 8px 36px 1px rgba(229, 255, 0, 0.284);
    
}

body button:hover{

    width: 230px;
    padding: 8px;
    border-radius: 4px;
    background-color: #FAFF06;;
    font-size: 16px;
    border: solid 2px black;
    color: black;
    box-shadow:4px 8px 36px 1px rgba(229, 255, 0, 0.1);
    
}

